<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/style.css">
        <title>Forum Page</title>
    </head>
    <body>
        <div class="content-container">
            <div class="main-post-container">
                <% posts.findLast(post => { %>
                    <div class="main-post-object">
                        <h5><%= post.Username%></h5>
                        <h2><a href="/posts/<%=post.ID%>"><%= post.Title %></a></h2>
                    </div>
                <%})%>
            </div>
        </div>
    </body>
</html>

