.comment-container
{
    display: flex;
    flex-direction: column;

    max-width: 660px;
    min-width: 600px;

    word-wrap: break-word;

    margin-left: 340px;
    margin-right: 400px;
    margin-top: 0px;
}

.post-container
{
    background-color: rgb(121, 170, 215);
    border-radius: 6px;

    display: flex;
    flex-direction: column;

    max-width: 600px;
    min-width: 600px;

    word-wrap: break-word;

    margin-left: 400px;
    margin-right: 400px;
    margin-bottom:100px;

    padding-bottom: 5px;

    box-shadow: 0px 0px 10px 0px #0000004c;
    z-index: 10;
}

.main-post-container
{
    display: flex;
    flex-direction: column;

    max-width: 600px;
    min-width: 600px;

    word-wrap: break-word;

    margin-left: 400px;
    margin-right: 400px;
    margin-bottom:10px;
}

.post-object
{
    background-color: rgb(157, 208, 255);
    border-radius: 5px;

    margin-bottom: 20px;
}

.main-post-object
{
    background-color: rgb(157, 208, 255);
    border-radius: 5px;

    margin-bottom: 20px;

    box-shadow: 0px 0px 10px 0px #0000004c;
    z-index: 10;
}

.comment-object
{
    background-color: rgb(129, 187, 242);
    border-radius: 5px;

    box-shadow: 0px 0px 10px 0px #0000004c;
    z-index: 10;
}

.reply-object
{
    background-color: rgb(121, 171, 218);
    border-radius: 5px;

    box-shadow: 0px 0px 10px 0px #0000004c;
    z-index: 10;
}

div.expand-comments {
    display: flex;

    justify-content: center;

    margin-top: 5px;

    background-color:rgb(157, 208, 255);
    border-radius: 10px;

    box-shadow: 0px 0px 10px 0px #0000004c;
    z-index: 10;
}

div.expand-comments:hover {
    background-color:rgb(139, 202, 244);
}

p.expand-comments {
    margin:2px;
    font-weight: 500;
    user-select: none; 
}

ul.nested-ul {

    margin-left: 60px;
    margin-bottom: 0px;
}


#renderedPost {
    background-color: rgb(157, 208, 255);
    border-radius: 5px;

    margin-left:400px;
    margin-right:400px;

    padding-bottom:1px;
}

#commentForm {
    
    margin-top:-20px;
    margin-bottom: -20px;

    padding-left:5px;
    padding-top:10px;
    padding-bottom:10px;

    background-color: rgb(88, 134, 176);
    border-radius: 5px;

}

#replyForm {

    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;

    background-color: rgb(88, 134, 176);
    border-radius: 5px;
}

#comment-username {

    padding-top:5px;
    padding-bottom:5px;
}

input[type=text] {

    width: 150px;
    padding:5px;

    border-style:hidden;
    border-width: medium medium medium;
    border-color: rgb(157, 208, 255);

    border-radius: 4px;
    background-color: rgb(157, 208, 255);

    font-family: "Verdana", Courier, monospace
}

input[type=text]:focus {

    width:70%;

    outline: rgb(157, 208, 255);
    border-style:hidden;
    border-width: medium medium medium;
    border-color: rgb(157, 208, 255);
    background-color: rgb(139, 202, 244);

    transition: 0.2s;
}

input[type=submit] {
    border-style:hidden;
    border-width: medium medium medium;
    border-color: rgb(157, 208, 255);

    cursor: pointer;

    border-radius: 4px;
    background-color: rgb(157, 208, 255);

    padding: 5px;

    font-family: "Verdana", Courier, monospace
}

input[type=submit]:hover {
    border-style:hidden;
    border-width: medium medium medium;
    border-color: rgb(157, 208, 255);

    cursor: pointer;

    border-radius: 4px;
    background-color: rgb(139, 202, 244);
}

body {
    font-family:"Verdana", Courier, monospace;
    background-color: rgb(211, 236, 255);

    overscroll-behavior-y: none;
    overscroll-behavior-x: none;

}

h1 {
    height: 100%;
}

h2 {
    background-color: rgb(121, 170, 215);
    border-radius: 5px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:5px;


    margin-left:10px;
    margin-right:10px;
    margin-top:5px;
   
}

h5{
    color: rgb(0, 52, 68);

    margin-top:5px;
    margin-bottom:5px;
    margin-left: 10px;
}

p {
    padding-left:10px;
    padding-right:10px;

    margin-top:1px;
    margin-bottom: 10px;

    font-size: 15px;
}

ul{
    list-style:none;
    padding:0;
}
li {
    padding:0;
 } 
a {
    color: rgb(0, 0, 0);
}

a:link {
    text-decoration:none;
}
a:active { 
    text-decoration: none; 
}

